.form-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

form label {
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
  color: #004d40;
}


form input,
form select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;

}

.form-actions {
  grid-column: 1 / 3;
  text-align: right;
}

button {
  background-color: #f1b600;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

