.app-header {
  background-color: #004d40; /* verde oscuro estilo Guardia Civil */
  padding: 10px 20px;
  color: white;
  border-bottom: 4px solid #f5bc00; /* acento verde claro */
  height: 100px;
}

.app-header img{
  height: 100px;
}

.header-content {
  display: flex;
  align-items: center;
}n

.app-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 10px;
}

.app-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}