.chat-view {
    height: 70vh;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 30px 20px;
    position: relative;
    margin-bottom: 0;
    scrollbar-color: red;
    scrollbar-base-color: #b0b0b0;
}


.messages {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.msg {
  max-width: 75%;
  border-radius: 10px;
  padding: 10px;
}

.messages .msg {
    border: 1px solid;
    padding: 3px 10px;
    width: 70%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.messages .msg .date {
    font-size: 10px;
    color: #b0b0b0;
}

.messages .msg span {
    font-weight: 800;
    margin-right: 5px;
}

.otherMessages {
  align-items: flex-start;
}

.otherMessages .msg {
    background-color: #d0f3ee;
    border-color: #bae1db;
}

.myMessages {
  align-items: flex-end;
}

.myMessages .msg {
    position: relative;
    float: right;
    background-color: #e4e4e4;
    border-color: #dadada;
}

.custom-search {
    position: relative;
    padding: 0;
    width: 95vw;
    margin-left: 20px;
}

.custom-search-input {
    width: 101.5%;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    padding: 10px 100px 10px 20px;
    line-height: 2;
    box-sizing: border-box;
    outline: none;
}

.custom-search-botton {
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border: 0;
    background: #f5bc00;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
}


.preserve-linebreaks {
  white-space: pre-line;
}

.msg-date {
  font-size: 0.8rem;
  color: gray;
  text-align: right;
  margin-top: 5px;
}

.footer{
    text-align: center;
    margin-top: 20px;
    color: #787676;
}